Repository mcolomerc/pipegen: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, go-fmt, go-imports, go-mod-tidy

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# Install with: pre-commit install
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: check-added-large-files
      - id: check-yaml
      - id: check-json

  - repo: local
    hooks:
      - id: golangci-lint
        name: golangci-lint
        entry: golangci-lint run --fix
        language: system
        files: \.go$
        pass_filenames: false

  - repo: local
    hooks:
      - id: go-fmt
        name: go fmt
        entry: gofmt -w -s
        language: system
        files: \.go$

  - repo: local
    hooks:
      - id: go-imports
        name: go imports
        entry: goimports -w
        language: system
        files: \.go$
        # Requires: go install golang.org/x/tools/cmd/goimports@latest

  - repo: local
    hooks:
      - id: go-mod-tidy
        name: go mod tidy
        entry: go mod tidy
        language: system
        files: go\.(mod|sum)$
        pass_filenames: false

fix: remove Codecov integration to resolve rate limiting issues
  .github/workflows/ci.yml
Due: none

feat: add coverage.html as downloadable GitHub Actions artifact
  .github/workflows/ci.yml
Due: none

feat: Add comprehensive test suite for core pipegen modules
  cmd/run_test.go
  cmd/validate_test.go
  coverage.html
  go.mod
  go.sum
  internal/dashboard/execution_report_test.go
  internal/docker/deployer_test.go
  internal/llm/service_test.go
  internal/pipeline/runner_test.go
  internal/templates/manager_test.go
Due: golangci-lint, go-fmt, go-imports, go-mod-tidy

fix: resolve failing tests and improve test coverage
  cmd/run_test.go
  cmd/validate_test.go
  coverage.html
  internal/llm/service_test.go
  internal/pipeline/runner_test.go
Due: golangci-lint, go-fmt, go-imports

feat: Add traffic pattern support for dynamic message rates
  README.md
  cmd/run.go
  internal/pipeline/producer.go
  internal/pipeline/runner.go
  internal/pipeline/traffic_pattern.go
  internal/pipeline/traffic_pattern_test.go
Due: golangci-lint, go-fmt, go-imports

Add comprehensive documentation site with VitePress
  .github/workflows/deploy-docs.yml
  demo_report.go
  docs-site/.vitepress/config.js
  docs-site/.vitepress/theme/custom.css
  docs-site/.vitepress/theme/index.js
  docs-site/README.md
  docs-site/advanced/performance.md
  docs-site/advanced/troubleshooting.md
  docs-site/ai-generation.md
  docs-site/commands.md
  docs-site/commands/check.md
  docs-site/commands/dashboard.md
  docs-site/commands/deploy.md
  docs-site/commands/init.md
  docs-site/commands/run.md
  docs-site/commands/validate.md
  docs-site/configuration.md
  docs-site/dashboard.md
  docs-site/examples.md
  docs-site/getting-started.md
  docs-site/index.md
  docs-site/installation.md
  docs-site/package-lock.json
  docs-site/package.json
  docs-site/public/favicon.ico
  docs-site/public/logo.png
  docs-site/public/pipegen.png
  docs-site/public/screenshot.png
  docs-site/traffic-patterns.md
Due: golangci-lint, go-fmt, go-imports

Fix dead link in docs-site README
  docs-site/README.md
Due: none

Fix branding and FontAwesome integration - apply blue theme
  docs-site/.vitepress/config.js
  docs-site/.vitepress/theme/custom.css
  docs-site/commands/init-new.md
  docs-site/index.md
Due: none

Fix YAML syntax and add FontAwesome icons to feature cards
  docs-site/.vitepress/theme/custom.css
  docs-site/index.md
Due: none

Update docs-site branding: orange colors, unique icons, clickable feature cards, create features page
  docs-site/.vitepress/theme/custom.css
  docs-site/features.md
  docs-site/index.md
Due: none

update documentation
  README.md
  docs-site/.vitepress/config.js
  docs-site/.vitepress/theme/custom.css
  docs-site/changelog.md
  docs-site/index.md
Due: none

Simplify version display and fix navigation
  docs-site/.vitepress/config.js
  docs-site/index.md
Due: none

Fix GitHub Actions release permissions
  .github/workflows/release.yml
Due: none

Fix Homebrew formula update token
  .github/workflows/release.yml
Due: none

Update GitHub funding options with username
  .github/FUNDING.yml
Due: none

install script
  install.sh
Due: none

Fix install script to handle platform-specific binary names
  install.sh
Due: none

Enhance install script with comprehensive quick start guide
  install.sh
Due: none

readme
  .github/FUNDING.yml
  README.md
Due: none

update docs
  README.md
Due: none

update image versions
  internal/templates/files/docker/compose.yml
Due: none

update command
  cmd/update.go
Due: golangci-lint, go-fmt, go-imports

Disable Homebrew formula update step
  .github/workflows/release.yml
Due: none

Fix Kafka KRaft mode configuration
  README.md
  internal/templates/files/docker/compose.yml
Due: none

Fix CI/CD pipeline release job conflict
  .github/workflows/ci.yml
Due: none

Add CLUSTER_ID environment variable to Kafka Docker Compose
  internal/templates/files/docker/compose.yml
Due: none

Fix Confluent Platform internal topic replication factors
  internal/templates/files/docker/compose.yml
Due: none

Switch from Confluent Platform to Apache Kafka
  internal/templates/files/docker/compose.yml
Due: none

Fix version parsing in update command
  cmd/update.go
Due: golangci-lint, go-fmt, go-imports

Improve Kafka connection and topic creation reliability
  internal/docker/deployer.go
  internal/templates/files/docker/compose.yml
Due: golangci-lint, go-fmt, go-imports

Fix Kafka API version compatibility for topic creation
  internal/docker/deployer.go
Due: golangci-lint, go-fmt, go-imports

Fix Kafka consumer offset issue with GroupID
  internal/pipeline/consumer.go
Due: golangci-lint, go-fmt, go-imports

Fix AVRO union type encoding for properties field
  internal/pipeline/producer.go
Due: golangci-lint, go-fmt, go-imports

fix sql deployments
  cmd/clean.go
  cmd/run.go
  docs-site/commands.md
  internal/dashboard/execution_report.go
  internal/docker/deployer.go
  internal/pipeline/flink.go
  internal/pipeline/flink_test.go
  internal/templates/files/docker/compose.yml
  internal/templates/files/schemas/input.json
  internal/templates/files/sql/cloud/02_create_processing.sql
  internal/templates/files/sql/local/01_create_source_table.sql
  internal/templates/files/sql/local/02_create_processing.sql
  internal/templates/files/sql/local/03_create_output_table.sql
Due: golangci-lint, go-fmt, go-imports

Add 'clean' command documentation
  docs-site/commands/clean.md
Due: none

docker compose template fix
  internal/templates/files/docker/compose.yml
Due: none

fix: add missing connectors directory and flink-entrypoint.sh file to test setup
  cmd/validate_test.go
Due: golangci-lint, go-fmt, go-imports

llm generation fixes
  internal/generator/llm_generator.go
  internal/llm/service.go
Due: golangci-lint, go-fmt, go-imports

fix: add missing contributing page
  docs-site/advanced/contributing.md
Due: none
